.form__register {
    width: 40%;
    margin: 40px auto;
}

.container{
    display: flex;
    flex-direction: row
}

.containertwo{
    display: flex;
    flex-direction: column;
    width:40px;
    margin: 10px;
}