.search__bar{
    left: 0;
}

.product__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
}

.text__indispo{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}